<strong>Dodecahedron Lamp: 2012-2014</strong>

&nbsp;

<img class="alignnone wp-image-393" src="http://isaacperper.com/wp-content/uploads/2015/07/ColorLampOnly-300x300.png" alt="" width="500" height="501" />

[/span6][span6]

&nbsp;

&nbsp;

This project started in my 8th grade art class, but I never got around to fully finishing it until a few years later.  I've always had a fascination with modern lamp designs made out of wood, and I was also working with lots of shapes in my geometry class at the time.  The internal and external angles for my design actually came straight out of my classwork.  Using my experience with balsa wood from building model planes, I purchase some 1/8" balsa and began cutting out the pentagons from my stencil.  After doing so, I clamped them all together and sanded the edges to get near-perfect shapes.

&nbsp;

At first, I had planned on beveling the edges to make a flush fit, but after holding up to edges to the light, I thought the light shining through the cracks gave a good touch to the lamp. Ideally, this lamp would mount sideways on a wall like a sconce fixture, but it can always mount to a ceiling or be used as a desk lamp.  The different colors make it more artistic than functional, but they could also be switched out for white paper.

