extends layout

block content
  .jumbotron.jumbotron-fluid-bg
    .container.text-center
      h1 Isaac Perper
      p Ride the wave.

  .jumbotron.jumbotron-fluid(style="background-color: #607d8b57; color: black")
    .container.text-center(style="margin-top:-20px")
      h1#about
        span.badge.badge-pill.badge-info About Me
    .container-fluid(style="margin-top:30px")
      .row
        .col-md-1
          .row
        .col-md-5
          .row
            .col-sm-12.text-center
              img.img-fluid.rounded-circle.mx-auto.img-capped(src="../images/isaac_mit.jpg" alt="Cinque Terre")
          .row
            .col-sm-12.text-center(style="margin-top:10px")
              h3 Robots. Design. Automation.
        .col-md-6.vertical-align
          div
            center
              h4 MIT | Mechanical Engineering and Robotics (2A-6)
            .text-justify
              p(style="margin-bottom:0") I'm an engineer from the Bay Area who has always had a passion for designing and building hands-on projects.  Right now I'm most interested in computer vision, mostly as it applies to robotics and industrial automation. Previously, I've worked on everything from rockets to drones to food delivery. I'm a midfielder on the MIT Varsity Soccer Team and when I'm home I enjoy everything California has to offer: surfing, biking, hiking, and skiing.
            br
            left
              h5 Skills
            .text-justify
              p Leadership | Teamwork | C++ | Python | Prototyping | CAD | Machining | Arduino | Linux
              

  .container-fluid.text-center(style="background-color:#90aac7")
    h1(style="padding: 1rem")#projects 
      span.badge.badge-pill.badge-warning Portolio
    br
    .row.text-center
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/power-supply/power-square.png')")
            h4 Food Delivery: Winter 2018
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/REx/REx-vehicle-square.jpg')")
            h4 MIT REx Vehicle - Vision: Summer 2018
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/astral/astral-square.png')")
            h4 Medical Drone Delivery: 2018
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/power-supply/power-square.png')")
            h4 Hobby Power Supply: Spring 2016
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/color-wave/color_wave-square.png')")
            h4 3D Color Wave: 2015
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/rocket/rocket_top-square.png')")
            h4 TARC Rocket: 2015-2016
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/floor-lamp/floor-lamp-square.png')")
            h4 Wood Floor Lamp: 2015
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/speaker/speaker-square.png')")
            h4 BT Speaker: 2014
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('../images/dodec/dodec-square.png')")
            h4 Dodecahedron Lamp: 2012
      
    //- 
      br
      .row
        .col-sm-4.card
          img.img-fluid.card-image-bottom(src='http://google.com' alt='Card image cap')
          .card-body
            h4.card-text 

        .col-sm-4.card
          .card-body
            h4.card-text 
          img.img-fluid.card-image-bottom(src='' alt='Card image cap')

        .col-sm-4.card
          .card-body
            h4.card-text 
          img.img-fluid.card-image-bottom(src='../images/front_color_wave.png' alt='Card image cap')
                
      br
      .row.text-center
        .col-sm-4.card
          .card-body
            h4.card-text 
          img.img-fluid.card-image-bottom(src='../images/rocket_top.png' alt='Card image cap')

        .col-sm-4.card
          .card-body
            h4.card-text 
          img.img-fluid.card-image-bottom(src='../images/front_floor_lamp.png' alt='Card image cap')

            h4.card-text Dodecahedron Lamp: 2012-2014
          img.img-fluid.card-image-bottom(src='../images/dodec_lamp.png' alt='Card image cap')


  .container-fluid.container-bg.bg-3.text-center(style="background-color: #ffc74adb")
    h1(style="padding: 1rem")#contact 
      span.badge.badge-pill.badge-success Contact
    br
    .row
      .col-sm-12
          h3.fas.fa-mail-bulk &nbsp isaac D0T perper AT gmail DOT com
          br
          br
          h3.fas.fa-phone 415 308 2Seven91
          br
          br
          a(href="https://github.com/iperper") 
            h3.fab.fa-github &nbsp iperper 
          br
          br
          a(href="http://www.linkedin.com/in/isaac-perper-01")
            h3.fab.fa-linkedin &nbsp isaac-perper-01
          br