extends layout

block content
  .jumbotron.jumbotron-fluid-bg(style="background-image: url('../images/sierra_trip-small.jpg');")
    .container.text-center
      h1 Isaac Perper
      p Ride the wave.

  .jumbotron.jumbotron-fluid(style="background-color: #607d8b57; color: black; padding-top: 1rem")
    .container.text-center
      a.anchor#about
      h1
        span.badge.badge-pill.badge-info About Me
    .container-fluid(style="margin-top:30px")
      .row
        .col-md-1
          .row
        .col-md-5
          .row
            .col-sm-12.text-center
              img.img-fluid.rounded-circle.mx-auto.img-capped(src="../images/isaac_mit-small.jpg" alt="Cinque Terre")
          .row
            .col-sm-12.text-center(style="margin-top:10px")
              h3 Automation. Robots. Sustainability.
        .col-md-6.vertical-align
          div
            center
              h4 MIT | 2021 M.Eng EECS | 2020 B.S. MechE & EECS
            .text-justify
              p(style="margin-bottom:0") I am an engineer located in Boston, MA who has always had a passion for designing and prototyping exciting ideas and hands-on projects. Currently, I'm working on <a href="https://www.cartesian.systems">Cartesian</a>, where we are using using sensor-fusion, pervasive IoT, and digital twins of indoor environments to unlock new possibilties for automation, operations, and user-experience. The core technology spun out of the <a href="https://signal-kinetics.media.mit.edu/">Signal Kinetics</a> lab at the MIT Media Lab, where I completed my M.Eng on low-cost RFID localization.
              br
              p Previously, I've done everything from computer vision and planning for autonomous boats to instrumentation and testing for rocket engines to prototyping of a household pipe-freeze prevention system. I was a forward on the MIT Varsity Soccer Team, and ever since growing up in California I've enjoyed almost all sports and outdoor activities.

            br
            left
              h5 Skills
            .text-justify
              p Leadership | Teamwork | Python | C++ | Prototyping | CAD | Linux | Entrepreneurship
              
  .container-fluid.text-center(style="background-color:#90aac7; padding-top: 1rem")
    a.anchor#projects 
    h1(style="padding-top: 0rem")
      span.badge.badge-pill.badge-warning Portfolio & Projects
    br
    .row.text-center
      .col-sm-3
        a.thumbnail(href='/images/RFusion/RFusion-paper.pdf')
          .frontpage_square(style="background-image: url('/images/RFusion/teaser_photo.png')")
            h4 RFusion Paper: SenSys '21
      .col-sm-3
        a.thumbnail(href='/images/MEng_thesis/MIT_M_Eng_Thesis__Isaac_Perper_FinalDraft.pdf')
          .frontpage_square(style="background-image: url('/images/MEng_thesis/SystemDiagram.svg')")
            h4 M.Eng. Thesis: Low-Cost Platform for RFID Localization: Summer 2021
      .col-sm-3
        a.thumbnail(href='/images/6884_sidetuning/6_884_Final_Paper.pdf')
          .frontpage_square(style="background-image: url('/images/6884_sidetuning/teaser_photo.png')")
            h4 Network Adaption through Side Tuning: Spring 2021
      .col-sm-3
        a.thumbnail(href='projects/MAS_S61')
          .frontpage_square(style="background-image: url('/images/MAS_S61/teaser_photo.png')")
            h4 RFID Localization Using Robotic Arm: Fall 2020
      .col-sm-3
        a.thumbnail(href='/images/6881_intrinsic/6_881_Final_Report.pdf')
          .frontpage_square(style="background-image: url('/images/6881_intrinsic/teaser_photo.png')")
            h4 RL Exploration with Instrinsic Rewards: Fall 2020
      .col-sm-3
        a.thumbnail(href='projects/NPS_covid_map')
          .frontpage_square(style="background-image: url('/images/NPSCovidMap/NPSCovidMap.png')")
            h4 National Park Closures: Spring 2020
      .col-sm-3
        a.thumbnail(href='projects/cataglyph_cooling')
          .frontpage_square(style="background-image: url('/images/cataglyph-cooling/cataglyph_cooling_logo.png')")
            h4 Cataglyph Cooling: Spring 2020
      .col-sm-3
        a.thumbnail(href='projects/6832_boat')
          .frontpage_square(style="background-image: url('/images/6832_boat/boat.png')")
            h4 MIT 6.832: Spring 2020
      .col-sm-3
        a.thumbnail(href='projects/608_game')
          .frontpage_square(style="background-image: url('/images/608_game/popup_image.jpg')")
            h4 MIT 6.08: Spring 2020
      .col-sm-3
        a.thumbnail(href='https://devpost.com/software/ember-alerts-tmzrv4')
          .frontpage_square(style="background-image: url('/images/ember-alerts/ember-alerts.png')")
            h4 Ember Alerts: TreeHacks 2020
      .col-sm-3
        a.thumbnail(href='projects/triton')
          .frontpage_square(style="background-image: url('/images/triton/hub-side_square.png')")
            h4 Triton: Fall 2019
      .col-sm-3
        a.thumbnail(href='https://devpost.com/software/response-o98ptv')
          .frontpage_square(style="background-image: url('/images/response/response_square.png')")
            h4 Response: HackMIT 2019
      .col-sm-3
        a.thumbnail(href='/images/go-forth/PerperI_Paper_Revised_Formatted_Final.pdf')
          .frontpage_square(style="background-image: url('/images/go-forth/ExperimentalSetup_Diagram_Colored.png')")
            h4 MIT 2.671 Go Forth Project: Spring 2019
      .col-sm-3
        a.thumbnail(href='projects/mail_sorter')
          .frontpage_square(style="background-image: url('/images/mail-sorter/mechanical-square.jpg')")
            h4 Mail Sorter: MakeMIT 2019
      .col-sm-3
        a.thumbnail(href='projects/rss')
          .frontpage_square(style="background-image: url('/images/rss/car-square.jpg')")
            h4 MIT RSS 6.141: Spring 2019
      .col-sm-3
        a.thumbnail(href='projects/astral_eats')
          .frontpage_square(style="background-image: url('/images/astral/food.png')")
            h4 Food Delivery: Winter 2018
      .col-sm-3
        a.thumbnail(href='projects/REx')
          .frontpage_square(style="background-image: url('/images/REx/REx-vehicle-square-small.jpg')")
            h4 MIT REx Vehicle - Vision: Summer 2018
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('/images/DAQ/daq_box_top-square.jpg')")
            h4 Rocket Test DAQ: Fall 2018
      .col-sm-3
        a.thumbnail(href='projects/drone_delivery')
          .frontpage_square(style="background-image: url('/images/drone-delivery/astral-square-small.png')")
            h4 Medical Drone Delivery: 2018-19
      .col-sm-3
        a.thumbnail(href='/images/boiling-research/CAD_Images.pdf')
          .frontpage_square(style="background-image: url('/images/boiling-research/chamber-iso-square-small.jpg')")
            h4 Boiling Research: Spring 2017
      .col-sm-3
        a.thumbnail(href='projects/power_supply')
          .frontpage_square(style="background-image: url('/images/power-supply/power-square-small.png')")
            h4 Hobby Power Supply: Spring 2016
      .col-sm-3
        a.thumbnail(href='projects/rocket')
          .frontpage_square(style="background-image: url('/images/rocket/rocket_top-square-small.png')")
            h4 TARC Rocket: 2015-2016
      
  .container-fluid.container-bg.bg-3.text-center(style="background-color: #ffc74adb; padding-top: 1rem")
    h1(style="padding-top: 0rem")#contact 
      span.badge.badge-pill.badge-success Contact
    br
    .row
      .col-sm-12
          h5.fas.fa-mail-bulk &nbsp contact AT isaacperper.com
          br
          br
          a(href="https://github.com/iperper") 
            h5.fab.fa-github &nbsp iperper 
          br
          br
          a(href="http://www.linkedin.com/in/isaac-perper-01")
            h5.fab.fa-linkedin &nbsp isaac-perper-01
          br
          br
