extends layout

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Portfolio
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Gallery
          li
            a(href='#') Contact
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.glyphicon.glyphicon-log-in
              |  Login
  .jumbotron
    .container.text-center
      h1 My Portfolio
      p Some text that represents &quot;Me&quot;...
  .container-fluid.bg-3.text-center
    h3 Some of my Work
    br
    .row
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
  br
  .container-fluid.bg-3.text-center
    .row
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
  br
  br
  footer.container-fluid.text-center
    p Footer Text
