extends layout

block content
  .jumbotron.jumbotron-fluid-bg
    .container.text-center
      h1 Isaac Perper
      p Ride the wave.

  .jumbotron.jumbotron-fluid(style="background-color: #607d8b57; color: black")
    .container.text-center(style="margin-top:-20px")
      h1#about
        span.badge.badge-pill.badge-info About Me
    .container-fluid(style="margin-top:30px")
      .row
        .col-md-1
          .row
        .col-md-5
          .row
            .col-sm-12.text-center
              img.img-fluid.rounded-circle.mx-auto.img-capped(src="../images/isaac_mit.jpg" alt="Cinque Terre")
          .row
            .col-sm-12.text-center(style="margin-top:10px")
              h3 Robots. Design. Automation.
        .col-md-6.vertical-align
          div
            center
              h4 MIT | Mechanical Engineering and Robotics (2A-6)
            .text-justify
              p(style="margin-bottom:0") I'm an engineer from the Bay Area who's always had a passion for designing and building hands-on projects.  Right now I'm most interested in computer vision, mostly as it applies to robotics and industrial automation, and I've also worked on everything from rockets to drones to food delivery. I'm a midfielder on the MIT Varsity Soccer Team and when I'm home I enjoy everything California has to offer: surfing, biking, hiking, and skiing.
              center

  .container-fluid.bg-3.text-center(style="background-color:#449bf9f0")
    h1(style="padding: 1rem")#projects 
      span.badge.badge-pill.badge-warning Portolio
    br
    .row
      .col-sm-4
        h4 Safe Picker: 2019
        img.img-fluid(src='http://google.com' alt='Image')
      .col-sm-4
        h4 Food Delivery: 2018
        img.img-fluid(src='http://google.com' alt='Image')
      .col-sm-4
        h4 MIT REx Vehicle - Vision: Summer 2018
        img.img-fluid(src='http://google.com' alt='Image')
      
    br
    .row
      .col-sm-4
        h4 Medical Drone Delivery: 2018
        img(src='http://google.com' style='width:100%' alt='Image')
      .col-sm-4
        a(href="/power-supply")
        h4 Hobby Power Supply: Spring 2016
        img.img-fluid(src='../images/front_power_supply.png' style='width:100%' alt='Image')
      .col-sm-4
        h4 3D Color Wave: Summer 2015-2016
        img.img-fluid(src='../images/front_color_wave.png' style='width:100%' alt='Image')
    br
    .row.text-center
      .col-sm-4
        h4 TARC Rocket: 2015-2016
        img(src='../images/rocket_top.png' style='width:100%' alt='Image')
      .col-sm-4
        h4 Wood Floor Lamp: Summer 2015
        img.img-fluid(src='../images/front_floor_lamp.png' style='width:100%' alt='Image')
      .col-sm-4
        h4 Dodecahedron Lamp: 2012-2014
        img.img-fluid(src='../images/dodec_lamp.png' style='width:100%' alt='Image')

  .container-fluid.container-bg.bg-3.text-center(style="background-color: #ffc74adb")
    h1(style="padding: 1rem")#contact 
      span.badge.badge-pill.badge-success Contact
    br
    .row
      .col-sm-6
      .col-sm-6
        dl.row
          dt.col-sm-2.text-right
            h3.fas.fa-mail-bulk
            br
            br
            h3.fas.fa-phone
            br
            br
            h3.fab.fa-github
            br
            br
            h3.fab.fa-linkedin
            br

          dd.col-sm-10.text-left
            h4 isaac D0T perper AT gmail DOT com
            br
            h4 415 308 2Seven9I
            br
            h4 
              a(href="https://github.com/iperper") iperper
            br
            h4
              a(href="http://www.linkedin.com/in/isaac-perper-01") isaac-perper-01
            br