extends layout

block content
  .jumbotron
    .container.text-center
      h1 Isaac Perper
      p Ride the wave.
  .container-fluid.bg-3.text-center
    h3 Some of my Work
    br
    .row
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
  br
  .container-fluid.bg-3.text-center
    .row
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')
      .col-sm-3
        p Some text..
        img.img-responsive(src='https://placehold.it/150x80?text=IMAGE' style='width:100%' alt='Image')

