extends layout

block content
  .jumbotron.jumbotron-fluid-bg(style="background-image: url('../images/sierra_trip-small.jpg');")
    .container.text-center
      h1 Isaac Perper
      p Ride the wave.

  .jumbotron.jumbotron-fluid(style="background-color: #607d8b57; color: black; padding-top: 1rem")
    .container.text-center
      a.anchor#about
      h1
        span.badge.badge-pill.badge-info About Me
    .container-fluid(style="margin-top:30px")
      .row
        .col-md-1
          .row
        .col-md-5
          .row
            .col-sm-12.text-center
              img.img-fluid.rounded-circle.mx-auto.img-capped(src="../images/isaac_mit-small.jpg" alt="Cinque Terre")
          .row
            .col-sm-12.text-center(style="margin-top:10px")
              h3 Robots. Design. Automation.
        .col-md-6.vertical-align
          div
            center
              h4 MIT | Mechanical Engineering and Robotics (2A-6)
            .text-justify
              p(style="margin-bottom:0") I'm an engineer from the Bay Area who has always had a passion for designing and building hands-on projects.  Right now I'm most interested in computer vision, mostly as it applies to robotics and industrial automation. Previously, I've worked on everything from rockets to drones to food delivery. I'm a midfielder on the MIT Varsity Soccer Team and when I'm home I enjoy everything California has to offer: surfing, biking, hiking, and skiing.
            br
            left
              h5 Skills
            .text-justify
              p Leadership | Teamwork | C++ | Python | Prototyping | CAD | Machining | Arduino | Linux
              
  .container-fluid.text-center(style="background-color:#90aac7; padding-top: 1rem")
    a.anchor#projects 
    h1(style="padding-top: 0rem")
      span.badge.badge-pill.badge-warning Portfolio & Projects
    br
    .row.text-center
      .col-sm-3
        a.thumbnail(href='/images/go-forth/PerperI_Paper_Revised_Formatted_Final.pdf')
          .frontpage_square(style="background-image: url('/images/go-forth/ExperimentalSetup_Diagram_Colored.png')")
            h4 MIT 2.671 Go Forth Project: Spring 2019
      .col-sm-3
        a.thumbnail(href='projects/mail_sorter')
          .frontpage_square(style="background-image: url('/images/mail-sorter/mechanical-square.jpg')")
            h4 Mail Sorter: MakeMIT 2019
      .col-sm-3
        a.thumbnail(href='projects/rss')
          .frontpage_square(style="background-image: url('/images/rss/car-square.jpg')")
            h4 MIT RSS 6.141: Spring 2019
      .col-sm-3
        a.thumbnail(href='projects/astral_eats')
          .frontpage_square(style="background-image: url('/images/astral/food.png')")
            h4 Food Delivery: Winter 2018
      .col-sm-3
        a.thumbnail(href='projects/REx')
          .frontpage_square(style="background-image: url('/images/REx/REx-vehicle-square-small.jpg')")
            h4 MIT REx Vehicle - Vision: Summer 2018
      .col-sm-3
        a.thumbnail(href='temp_project')
          .frontpage_square(style="background-image: url('/images/DAQ/daq_box_top-square.jpg')")
            h4 Rocket Test DAQ: Fall 2018
      .col-sm-3
        a.thumbnail(href='projects/drone_delivery')
          .frontpage_square(style="background-image: url('/images/astral/astral-square-small.png')")
            h4 Medical Drone Delivery: 2018-19
      .col-sm-3
        a.thumbnail(href='/images/boiling-research/CAD_Images.pdf')
          .frontpage_square(style="background-image: url('/images/boiling-research/chamber-iso-square-small.jpg')")
            h4 Boiling Research: Spring 2017
      .col-sm-3
        a.thumbnail(href='projects/power_supply')
          .frontpage_square(style="background-image: url('/images/power-supply/power-square-small.png')")
            h4 Hobby Power Supply: Spring 2016
      .col-sm-3
        a.thumbnail(href='projects/colorwave')
          .frontpage_square(style="background-image: url('/images/color-wave/color_wave-square-small.png')")
            h4 3D Color Wave: 2015
      .col-sm-3
        a.thumbnail(href='projects/rocket')
          .frontpage_square(style="background-image: url('/images/rocket/rocket_top-square-small.png')")
            h4 TARC Rocket: 2015-2016
      .col-sm-3
        a.thumbnail(href='projects/floor_lamp')
          .frontpage_square(style="background-image: url('/images/floor-lamp/floor-lamp-square-small.png')")
            h4 Wood Floor Lamp: 2015
      .col-sm-3
        a.thumbnail(href='projects/bt_speaker')
          .frontpage_square(style="background-image: url('/images/speaker/speaker-square-small.png')")
            h4 BT Speaker: 2014
      .col-sm-3
        a.thumbnail(href='projects/dodec_lamp')
          .frontpage_square(style="background-image: url('/images/dodec/dodec-square-small.png')")
            h4 Dodecahedron Lamp: 2012
      
  .container-fluid.container-bg.bg-3.text-center(style="background-color: #ffc74adb; padding-top: 1rem")
    h1(style="padding-top: 0rem")#contact 
      span.badge.badge-pill.badge-success Contact
    br
    .row
      .col-sm-12
          h5.fas.fa-mail-bulk &nbsp isaac.perper AT gmail DOT com
          br
          br
          a(href="https://github.com/iperper") 
            h5.fab.fa-github &nbsp iperper 
          br
          br
          a(href="http://www.linkedin.com/in/isaac-perper-01")
            h5.fab.fa-linkedin &nbsp isaac-perper-01
          br
          br
