nav.navbar.fixed-top.navbar-expand-sm.bg-light.navbar-light
  // Brand
  a.navbar-brand(href='#') Isaac Perper

  // Toggler/collapsibe Button

  //.collapse.navbar-collapse(data-toggle="collapse" //data-target=".navbar-collapse")

  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon

  // Navbar links
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto  <!-- Needed to add data-target and data-toggle so it would collapse automatically-->
   
      li.nav-item 
        a(href='#') 
          .nav-link(data-toggle="collapse" data-target=".navbar-collapse.show") Home
      li.nav-item
        a(href='#about')
          .nav-link(data-toggle='collapse' data-target='.navbar-collapse.show') About Me
      li.nav-item
        a(href='#projects')
          .nav-link(data-toggle='collapse' data-target='.navbar-collapse.show') Portfolio
      li.nav-item
        a(href='#contact')
          .nav-link(data-toggle='collapse' data-target='.navbar-collapse.show') Contact
      li.nav-item
        a.nav-link(href="images/resume.pdf") Resume