extends layout

block content
	// Could put generic project content here in future

	.container-fluid(style="background-color:#607d8b57; padding: 2rem;")
		.container-fluid(style="max-width: 80rem")
			// each project overrides this 

			block markdown
				.jumbotron
					h4 TODO: Create detail page for this project.