.jumbotron {
    margin-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #009aa2d4;
    color: white;
    min-height: 300px;
    padding: 2rem 3rem;
    /*text-shadow: black 0.3em 0.3em 0.3em;*/
}

.jumbotron-fluid-bg{
    margin-bottom: 0px;
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #009aa2d4;
    color: white;
    min-height: 500px
    }

.vertical-align {
    display: flex;
    align-items: center;
}

.container-bg{
  background-color: #009aa2d4;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-capped{
  max-width: 60%''
}

@media (min-width: 992px){
  .img-capped{
    max-width: 50%;
  }
}

.col-sm-3{
  margin-bottom: 15px;
}

/*From Stackoverflow anser by Coding Enthusiast https://stackoverflow.com/questions/31247537/responsive-grid-of-squares-in-bootstrap*/
.frontpage_square{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  background-color: #cbd1df;
  background-size: contain;
  border-radius: 5%
  /*background-repeat: no-repeat;*/
  /*background-position: center*/
  /*outline: 2px solid;*/
}
.frontpage_square h4{
  position:absolute;
  background-size: 80%;
  background-color: #6b7190;
  color: black;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
}

.frontpage_square img{
  position: absolute;
}


/*Moves the anchor location up slightly to avoid navbar blocking content*/

a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

figure.project{
  max-width: 500px;
  width=70%;
}

/* Show active tab for the RSS page */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks {
  border: 1px solid #ccc;
}