
[columns] [span6]

<strong>Hobby Power Supply:</strong><strong> Spring 2016</strong>

&nbsp;

<img class="alignnone wp-image-474" src="http://isaacperper.com/wp-content/uploads/2015/03/PowerSupplyBest-300x201.png" alt="" width="500" height="335" />

<img class="alignnone wp-image-471" src="http://isaacperper.com/wp-content/uploads/2015/03/PowerBoxCAD-1024x630.png" alt="" width="500" height="307" />

[/span6][span6]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

As I began to work with more circuits and electronics, I decided it was time to get a dedicated power supply for testing my various projects.  I had a several old computer power supplies left over, so instead of buying a adjustable power supply off the shelf with limited functionality, I designed my own to meet all my needs.  The criteria: on/off switch, 120V outlets, 12V DC outlets, dedicated 12V DC banana plugs, and adjustable 2-12V banana plugs. The adjustable voltage came from a regulator I ended up not using on a previous project.

&nbsp;

The max current on the DC system is 8A, which is more than enough for most of my work, and so far it's worked beautifully for testing my micro-controller systems, motors, and much more.  The casing I laser cut and then stained out of some scrap wood, and I grounded the whole system inside to prevent sparks during a surge.  Though it hasn't overheated yet, I left space for a fan to push air out of the holes in the casing wall, so I can add this if heat ever becomes an issue.

[