<strong>Team America Rocketry Challenge Rocket: 2015-2016</strong>

&nbsp;

<img class="alignnone wp-image-476" src="http://isaacperper.com/wp-content/uploads/2015/03/RocketCut-300x60.png" alt="" width="500" height="101" />

<img class="alignnone wp-image-470" src="http://isaacperper.com/wp-content/uploads/2015/03/OpenRocketDiagram-300x248.png" alt="" width="250" height="207" /><img class="alignnone wp-image-472" src="http://isaacperper.com/wp-content/uploads/2015/03/RocketGraph-300x250.png" alt="" width="250" height="208" />

[/span6][span6]

&nbsp;

&nbsp;

Starting junior year of high school, I worked with a team of friends to design and construct a rocket for the national TARC competition.  Using expertise from out mentor, our knowledge for classes, and a little previous rocketry experience, we set out to create a rocket to carry an egg to 800 feet, and return it safely to the ground within a total flight time of 46-48 seconds.  An open source software called OpenRocket allowed us to simulate our different design iterations, testing the effect of fins shape, weight, tube diameter, and parachute size on the flight of the rocket. For our first design, we concluded on trapezoid fins, which are optimal for sub-sonic flight, the narrowest tube diameter we could be the egg in to minimize drag, and a low weight to give us maximum options for rocket motor choice.  After CADing and laser cutting the fins and centering rings, we then constructed the rocket over a few weekends and had a successful first flight. In fact, the only change we made in our final design was even smaller fins to reduce drag further, while maintaining sufficient stabilization.

&nbsp;

Surprisingly in our first year in the contest, we qualified for nationals with a best flight of 805 feet and 46.65 seconds, and ended up placing ninth overall at nationals.  Due to our success that year, we competed again the following year and expanded into three total teams at our high school.

